<article>
  <section>
    <h3>  <%= link_to "Post ##{post.id}#{brief ? '' : ' by ' + post.author.name}", user_post_path(post.author, post) %> </h3>
    <div>
      <p><%= brief ? post.text.truncate(380) : post.text %></p>
      <p class="align-rigth">Comments: <%= post.commentsCounter %>, Likes: <%= post.likesCounter %></p>
      <div class="flex-row post-btn">
        <%= button_to "New Comment", new_user_post_comment_path(post.author.id,post.id), method: :get %>
        <%= button_to "Add Like", user_post_likes_path(post.author.id,post.id), method: :post %>

        <% if can? :destroy, post %>
          <%= button_to "Delete Post", user_post_path(post.author,post), method: :delete, data: { turbo_confirm: "Are you sure?" }  %>
        <% end %>
        
      </div>
      
    </div>
  </section>
  
  <% if(comment_show) %>
    <section>
      <%= brief ? (render partial: "shared/comment", collection: post.recent_comments.includes(:author), spacer_template: "shared/spacer")
        : (render partial: "shared/comment", collection: post.comments.order(id: :desc).includes(:author), spacer_template: "shared/spacer") %>
  <% end %>
</article>